<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>🦏 Bing Bot Settings</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
		/>
	</head>
	<body>
		<h1>Bing Bot Settings 🦏</h1>
		<form action="/settings" method="POST">
			<label for="password">Password:</label>
			<input
				type="password"
				name="password"
				placeholder="H-Caliber Serial Number"
				size="25"
			/>
			<input type="submit" value="Submit" />
		</form>
		{% if invalid_password %}
		<blockquote>❌ Invalid password. Please try again.</blockquote>
		{% endif %}
	</body>
</html>
