<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>🦏 Bing Bot Settings</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
		/>
	</head>
	<body>
		{% if is_updating_settings %} {% if updated_successfully %}
		<blockquote>✅ Settings saved</blockquote>
		{% else %}
		<blockquote>❌ Error saving settings</blockquote>
		{% endif %} {% endif %}
		<h1>Bing Bot Settings 🦏</h1>
		<form action="/settings" method="post">
			<h2>Commands / Responses</h2>
			{% for setting in command_settings %}
			<input
				type="checkbox"
				name="{{ setting.name | replace(' ', '-') }}"
				value="{{ setting.name | replace(' ', '-') }}"
				{%
				if
				setting.value
				%}checked{%
				endif
				%}
			/>
			<label for="{{ setting.name | replace(' ', '-') }}"
				>{{ setting.name }}</label
			>
			<br />
			{% endfor %}

			<h2>Unsolicited Messages</h2>
			{% for setting in scheduled_settings %}
			<input
				type="checkbox"
				name="{{ setting.name | replace(' ', '-') }}"
				value="{{ setting.name | replace(' ', '-') }}"
				{%
				if
				setting.value
				%}checked{%
				endif
				%}
			/>
			<label for="{{ setting.name | replace(' ', '-') }}"
				>{{ setting.name }}</label
			>
			<br />
			{% endfor %}
			<input style="display: none" name="submission" />
			<input style="display: none" name="password" value="{{ password }}" />
			<br />
			<button type="submit">Save Settings</button>
		</form>
	</body>
</html>
